In [10]:
import pandas as pd
data = {
        "Emplyee_ID": [1, 2, 3, 4, 5], 
        "Name": ["John", "Sarah","Mike", "Lisa", "David"],
        "Department": ["Marketing", "Engeneering", "HR", "Marketing", "Engeneering"]
    }

df = pd.DataFrame(data)

In [18]:
df.info

# add filter
print(df[df["Department"] == "Engeneering"])

   Emplyee_ID   Name   Department
1           2  Sarah  Engeneering
4           5  David  Engeneering

In [31]:
df["Salary"] = [5000, 4000, 10000, 45454, 43955]

print(df["Salary"])

0     5000
1     4000
2    10000
3    45454
4    43955
Name: Salary, dtype: int64

In [35]:
# modify
df.loc[df["Name"] == "David", "Salary"] = 500000

print(df["Salary"])

0      5000
1      4000
2     10000
3     45454
4    500000
Name: Salary, dtype: int64

In [37]:
# sort

print(df.sort_values(by="Salary", ascending = False))

   Emplyee_ID   Name   Department  Salary
4           5  David  Engeneering  500000
3           4   Lisa    Marketing   45454
2           3   Mike           HR   10000
0           1   John    Marketing    5000
1           2  Sarah  Engeneering    4000

In [39]:
# Null values

# Criando um DataFrame com valores nulos
data = {
    "Name": ["Alice", "Bob", None],
    "Age": [25, None, 22],
    "City": ["São Paulo", "Rio de Janeiro", "Belo Horizonte"]
}
df2 = pd.DataFrame(data)

print(df2)

    Name   Age            City
0  Alice  25.0       São Paulo
1    Bob   NaN  Rio de Janeiro
2   None  22.0  Belo Horizonte

In [41]:
print(df2.isnull())

    Name    Age   City
0  False  False  False
1  False   True  False
2   True  False  False

In [46]:
# Filling the null values

df2.fillna({"Name": "Desconhecido", "Age": df2["Age"].mean()}, inplace=True)

print(df2)

           Name   Age            City
0         Alice  25.0       São Paulo
1           Bob  23.5  Rio de Janeiro
2  Desconhecido  22.0  Belo Horizonte