In [12]:
# Dictionaries in Python
import pandas as pd

data = {"name": "Daniel", "age": 22, "city": "Brasília"}
print(data["name"])  # Output: Daniel

data2 = {"name": "Maria Eduarda", "age": 23, "city": "Brasília"}
print(data2['age'])

data3 = {"name": "Herden", "age": 53, "city": "João Pessoa"}
print(data3["city"])

Daniel
23
João Pessoa

In [10]:
# Main Methods
data.keys()

dict_keys(['name', 'age', 'city'])

In [11]:
data2.values()

dict_values(['Maria Eduarda', 23, 'Brasília'])

In [15]:
data3.items()

dict_items([('name', 'Herden'), ('age', 53), ('city', 'João Pessoa')])

In [28]:
# creating a dataframe with pandas
data = {
    "Name": ["Alice", "Bob", "Carlos"],
    "Age": [25, 30, 22],
    "City": ["São Paulo", "Rio de Janeiro", "Belo Horizonte"]
}

df = pd.DataFrame(data)
print(df)

     Name  Age            City
0   Alice   25       São Paulo
1     Bob   30  Rio de Janeiro
2  Carlos   22  Belo Horizonte

In [29]:
names = df['Name']
print(names)

0     Alice
1       Bob
2    Carlos
Name: Name, dtype: object

In [30]:
colunas = df[['Name','City']]
print(colunas)

     Name            City
0   Alice       São Paulo
1     Bob  Rio de Janeiro
2  Carlos  Belo Horizonte

In [34]:
bigger_age = df[df["Age"] > 23]

print(bigger_age)

    Name  Age            City
0  Alice   25       São Paulo
1    Bob   30  Rio de Janeiro

In [39]:
# add column
df['Age_in_5_years'] = df['Age'] + 5
print(df['Age_in_5_years'])

0    30
1    35
2    27
Name: Age_in_5_years, dtype: int64

In [42]:
df['Name'] = df['Name'].str.upper()
print(df['Name'])

0     ALICE
1       BOB
2    CARLOS
Name: Name, dtype: object

In [44]:
# Save
df.to_csv('personal_data.csv',index=False)